.link {
  float: left;
  text-decoration: none;
}

.list ol {
  text-align: left;
}

.list li {
  list-style: none;
  padding: 0.7rem;
  color: #173e43;
  font-weight: 600;
  border: 1px solid #dddfd4;
  border-radius: 0.2rem;
  margin-bottom: 0.6rem;
  background: white;
  box-shadow: 1px 1px 3px 0px rgba(134, 134, 134, 0.21);
  max-width: 100%;
  font-size: 1rem;
}

.list li:hover {
  background: whitesmoke;
  border: 1 px #dddfd4;
}

.done {
  background: #3cbcc3 !important;
  text-decoration: line-through;
  box-shadow: 0px 0px 0px 0px rgba(134, 134, 134, 0.21) !important;
  border: 0.1rem !important;
}

.done:hover {
  background: #173e43 !important;
  color: white;
}

.done:hover button {
  color: white;
}

.delete {
  display: none;
}

.share {
  background-color: white;
  border: 0.05rem solid #173e43;
  color: #173e43;
  text-align: center;
  padding: 0.7rem 1rem;
  min-width: 4rem;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

.share:hover {
  background-color: #f6f6f8;
}

.shared {
  background-color: #eba63f;
  color: white;
  border: 0.05rem solid #eba63f;
  color: #173e43;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  min-width: 4rem;
  margin: 0.1rem;
}
